<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSprojectgen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="assemblies\PEIDBProvider\4.1.0.0" />
        </assemblyBinding>
    </runtime>
    <userSettings>
        <NSprojectgen.Properties.Settings>
            <setting name="CustomCompany" serializeAs="String">
                <value>Rik Cousens</value>
            </setting>
        </NSprojectgen.Properties.Settings>
    </userSettings>
</configuration>